<style type="text/css">
    .topmenu { position: relative; width:100%;float:left;background:#efefef;margin-bottom:20px;}
    .topmenu ul li a { color:#000}
    .topmenu .dropdown-menu li a { color:#666}
    .topmenu ul li { content:'|'}
</style>
<div class="topmenu">
    <ul class="nav navbar-nav">
		<li class="dropdown">
            <a href="../web/index.php?c=site&a=entry&do=index&m=nets_haojk" class="dropdown-toggle">
                <i class="fa fa-file-text-o"></i> 系统设置
            </a>
        </li>
        <li class="dropdown">
            <a href="../web/index.php?c=site&a=entry&do=style_set&m=nets_haojk" class="dropdown-toggle">
                <i class="fa fa-file-text-o"></i> 基础设置
            </a>
        </li>
		<li class="dropdown">
            <a href="../web/index.php?c=site&a=entry&do=goods&m=nets_haojk" class="dropdown-toggle">
                <i class="fa fa-file-text-o"></i> 商品
            </a>
        </li>
        <li class="dropdown">
            <a href="../web/index.php?c=site&a=entry&do=order&m=nets_haojk" class="dropdown-toggle">
                <i class="fa fa-file-text-o"></i> 订单
            </a>
        </li>
		<li class="dropdown">
            <a href="../web/index.php?c=site&a=entry&do=member&m=nets_haojk" class="dropdown-toggle">
                <i class="fa fa-file-text-o"></i> 会员
            </a>
        </li>
		<li class="dropdown">
            <a href="../web/index.php?c=site&a=entry&do=recharge&m=nets_haojk" class="dropdown-toggle">
                <i class="fa fa-file-text-o"></i> 财务
            </a>
        </li>
        <li class="dropdown">
            <a href="../web/index.php?c=site&a=entry&do=cash&m=nets_haojk" class="dropdown-toggle">
                <i class="fa fa-file-text-o"></i> 提现
            </a>
        </li>
        <li class="dropdown">
            <a href="../web/index.php?c=site&a=entry&do=menu_editor&m=nets_haojk" class="dropdown-toggle">
                <i class="fa fa-file-text-o"></i> 商品源管理
            </a>
        </li>
		<li class="dropdown">
            <a href="../web/index.php?c=site&a=entry&do=probit&m=nets_haojk" class="dropdown-toggle">
                <i class="fa fa-file-text-o"></i> 推广位
            </a>
        </li>
        <li class="dropdown">
            <a href="../web/index.php?c=site&a=entry&do=data_show&m=nets_haojk" class="dropdown-toggle">
                <i class="fa fa-file-text-o"></i> 数据
            </a>
        </li>		
        <li class="dropdown">
            <a href="../web/index.php?c=site&a=entry&do=marketing&m=nets_haojk" class="dropdown-toggle">
                <i class="fa fa-file-text-o"></i> 营销
            </a>
        </li>       
    </ul>
</div>