<div class="system-tips we7-body-alert" style="width:400px;">
    <div class="container text-left" style="width:400px;"> 
        <span class="alert-info"><a href="javascript:;">群发助手仅限公众号版使用，小程序暂不支持！</a></span></div></div>
    <div class="panel panel-info">
            
      <div class="panel-heading">
          <a  class="btn btn-sm btn-danger" href="../web/index.php?c=site&a=entry&op=mass_texting&do=mass_texting&m=nets_haojk"><i class="fa fa-mail-forward"></i> 群发商品</a>&nbsp;
          <a  class="btn btn-sm btn-danger" href="../web/index.php?c=site&a=entry&op=mass_msc&do=mass_msc&m=nets_haojk"> 管理消息</a>&nbsp;
          <a  class="btn btn-sm btn-danger" href="../web/index.php?c=site&a=entry&op=mass_new&do=mass_new&m=nets_haojk"> 新建消息</a>&nbsp;
          <a  class="btn btn-sm btn-danger" href="../web/index.php?c=site&a=entry&op=single_shot&do=single_shot&m=nets_haojk"> 开始单发</a>&nbsp;
          <a  class="btn btn-sm btn-danger" href="../web/index.php?c=site&a=entry&op=start_mass&do=start_mass&m=nets_haojk"> 开始群发</a>
      </div>
   </div>