    <ul class="nav nav-tabs">
        <li  {if $_GPC['op']=='banner'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=banner&do=index&m=nets_haojk">轮播图</a></li>
        <li  {if $_GPC['op']=='head_menu'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=head_menu&do=index&m=nets_haojk">头部菜单</a></li>
        <li  {if $_GPC['op']=='picture_menu'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=picture_menu&do=index&m=nets_haojk">图片菜单</a></li>
        <li  {if $_GPC['op']=='action_menu'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=action_menu&do=index&m=nets_haojk">活动菜单</a></li>
        <li  {if $_GPC['op']=='ad_menu'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=ad_menu&do=index&m=nets_haojk">广告图片</a></li>
        <li  {if $_GPC['op']=='bottom_menu'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=bottom_menu&do=index&m=nets_haojk">底部菜单</a></li>
        <li  {if $_GPC['op']=='memberlevel'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=memberlevel&do=memberlevel&m=nets_haojk">等级设置</a></li>
        <li  {if $_GPC['op']=='help'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=help&do=index&m=nets_haojk">帮助</a></li>
        <li  {if $_GPC['op']=='restore'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=restore&do=restore&m=nets_haojk">系统维护</a></li>
        <li  {if $_GPC['op']=='initialize'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=initialize&do=initialize&m=nets_haojk">一键初始化</a></li>
    </ul>