<ul class="nav nav-tabs">
        <li  {if $_GPC['op']=='display'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=display&do=marketing&m=nets_haojk">弹幕订单</a></li>

        <li  {if $_GPC['op']=='mass_texting'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=mass_texting&do=mass_texting&m=nets_haojk">群发助手</a></li>
        <li  {if $_GPC['op']=='freeorder'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=freeorder&do=freeorder&m=nets_haojk">免单商品</a></li>
</ul>