<ul class="nav nav-tabs">
        <li  {if $_GPC['op']=='style_set'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=style_set&do=style_set&m=nets_haojk">风格设置</a></li>
        <li  {if $_GPC['op']=='display'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=display&do=share&m=nets_haojk">分享设置</a></li>
        <li  {if $_GPC['op']=='mini_apps'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=mini_apps&do=mini_apps&m=nets_haojk">小程序设置</a></li>
        <li  {if $_GPC['op']=='payment'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=payment&do=payment&m=nets_haojk">提现设置</a></li>
        <li  {if $_GPC['op']=='boss'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=boss&do=boss&m=nets_haojk">申请盟主</a></li>
        <li  {if $_GPC['op']=='place_order'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=place_order&do=place_order&m=nets_haojk">京东联盟</a></li>
        <li  {if $_GPC['op']=='subsidy'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=subsidy&do=subsidy&m=nets_haojk">补贴设置</a></li>
        <li  {if $_GPC['op']=='message'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=message&do=message&m=nets_haojk">通知设置</a></li>
        <li  {if $_GPC['op']=='credit'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=credit&do=credit&m=nets_haojk">积分充值</a></li>
        <li  {if $_GPC['op']=='sms_set'} class="active"{/if}><a href="../web/index.php?c=site&a=entry&op=sms_set&do=sms_set&m=nets_haojk">短信设置</a></li>
</ul>